.clients-client {
    &__wrap {
    }

    &__image {
        width: 255px;
        height: 120px;
        background-image: url("../img/microsoft-client.png");
        background-repeat: no-repeat;
        cursor: pointer;
        transition: transform .3s;

        &:hover {
            transform: scale(1.1);

            @include g-mq-extra-small {
                transform: scale(1.05);
            }
        }
    }
}