include ../../../commons/mixins

section.my-projects
    .container
        .my-projects__wrap
            .my-projects-projects
                .my-projects-projects__wrap
                    +my-projects-projects-project
