.numbers-projects-project {
    &__wrap {
        display: flex;
        padding: 0 0 30px 0;
        cursor: pointer;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }

        @include g-mq-extra-small {
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__image {
        width: 50px;
        height: 50px;
        fill: #fff;
    }

    &__text {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0 0 15px;
        color: #fff;
    }

    &__number {
        font-weight: 500;
        font-size: 21px;
        color: #fff;
    }
}