// Микси для создание навигационной панели
mixin header-nav-items(items)
    .header-nav-items
        .header-nav-items__wrap
            each item in items
                a(href="#").header-nav-items__item= item

// Миксин для создания номеров
mixin numbers-projects-project
    - for (var i = 0; i <= 5; i++)
        .numbers-projects-project
            .numbers-projects-project__wrap
                +add-svg("numbers-projects-project__image", "icon-project")
                .numbers-projects-project__text проектов
                    span.numbers-projects-project__number 40+

// Миксин для создания навыков
mixin my-skills-skills(items)
    .my-skills-skills
        .my-skills-skills__wrap
            .my-skills-skills__title мои навыки
            each item in items
                .my-skills-skills__skill= item
                .my-skills-skills__exp
                    span.my-skills-skills__exp-percent

// Миксин для добавления svg
mixin add-svg(name_class, name)
    svg(class="" + name_class)
        use(xlink:href="img/svg/symbol/svg/sprite.symbol.svg#" + name)