.my-projects {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &-project__wrap {
        flex-basis: 25%;

        @include g-mq-extra-small {
            flex-basis: 50%;
        }
    }
}