include ../../../commons/mixins
include ../../../commons/variables

section.my-skills
    .container
        .my-skills__wrap
            .my-skills__left
                +my-skills-skills(item_skills)
            .my-skills__right
                img(src="img/my-photo.jpg" alt="изображение разработчика").my-skills__image