section.about-jobs
    .container
        .about-jobs__wrap
            .about-us-text
                .about-us-text__title как я работаю
                .about-us-text__text.
                    Lorem Ipsum - это текст-"рыба", часто испол ьзуемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века.
            .about-jobs-video
                .about-jobs-video__wrap
                    a(href="#").about-jobs-video__button