extends layout/layout

block variables
    - var title = "Главная страница"

block content
    article.article
        include modules/article/about-us/about-us
        include modules/article/my-projects/my-projects
        include modules/article/my-skills/my-skills
        include modules/article/about-jobs/about-jobs