.header-text {
    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include g-mq-extra-small {
            flex-direction: column;
            justify-content: flex-start;
        }

        @include mq-small {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__image {
        @include g-mq-extra-small {
            width: 250px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        @include g-mq-extra-small {
            flex-basis: 0;
            padding: 30px 0 0 0;
            align-items: center;
        }

        @include mq-small {
            flex-basis: 0;
            padding: 30px 0 0 0;
            align-items: center;
        }
    }

    &__title {
        padding: 0 0 50px 0;
        font-weight: 500;
        font-size: 48px;

        &:first-letter {
            text-transform: uppercase;
        }

        @include g-mq-extra-small {
            padding: 0 0 20px 0;
            font-size: 38px;
            text-align: center;
        }

        @include mq-small {
            padding: 0 0 35px 0;
            text-align: center;
        }
    }

    &__text {
        width: 515px;
        padding: 0 0 50px 0;
        line-height: 26px;
        color: #727272;

        @include g-mq-extra-small {
            width: 100%;
            padding: 0 0 20px 0;
            text-align: center;
        }

        @include mq-small {
            width: 100%;
            padding: 0 0 35px 0;
            text-align: center;
        }
    }
}