.header-text {
    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }

    &__title {
        padding: 0 0 50px 0;
        font-weight: 500;
        font-size: 48px;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    &__text {
        width: 515px;
        padding: 0 0 50px 0;
        line-height: 26px;
        color: #727272;
    }

    &__btn {

    }
}