.footer-copyright {
    color: #fff;

    &__inform {
        padding: 0 0 10px 0;
        font-weight: 500;
        font-size: 21px;
        text-transform: capitalize;
    }

    &__copy {
        font-size: 13px;
    }
}