include ../../commons/mixins

footer.footer
    .container
        .footer__wrap
            .footer-copyright
                .footer-copyright__inform иванов иван
                .footer-copyright__copy (с) 2018. Все права защищены.
            .footer-socials
                .footer-socials__wrap
                    +footer-social(3)