include ../../../commons/mixins

section.numbers
    .container
        .numbers__wrap
            .numbers-projects
                .numbers-projects__wrap
                    +numbers-projects-project(6)
