section.request
    .container
        .request__wrap
            .about-me-text
                .about-me-text__title Хотите веб-сайт?
                .about-me-text__text.
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века.
            form(action="").request-form
                .request-form__wrap
                    input(type="text" placeholder="Ваше имя").request-form__name.request-form_form-padding
                    input(type="email" placeholder="Ваш e-mail").request-form__email.request-form_form-padding
                    textarea(placeholder="Сообщение").request-form__text.request-form_form-padding
                    .request-form__btn
                        .button
                            button.button__btn отправить
