.header-nav-logo {
    &__link {
        font-family: $font-revalia;
        font-size: 48px;
        color: #34547a;
        text-transform: uppercase;
        transition: color .3s;

        &:hover {
            color: #000;
        }
    }
}