include ../../commons/mixins
include ../../commons/variables

header.header
    .container
        .header__wrap
            nav.header-nav
                .header-nav__wrap
                    .header-nav-logo
                        a(href="#").header-nav-logo__link wd
                    +header-nav-items(item_nav)
            .header-text
                .header-text__wrap
                    .header-text__left
                        img(src="img/laptop.png" alt="Изображение ноутбука").header-text__image
                    .header-text__right
                        .header-text__title дизайн и верстка
                        .header-text__text.
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.
                        .header-text__btn
                            .button
                                button.button__btn написать мне